/* Style the form */
#regForm {
  background-color: #ffffff;
  padding: 15px;
  width: 100%;
  min-width: 300px;
  border-radius: 1em;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 42px;
  width: 450px;
  margin: 0 2px;
  background: rgb(25,109,73);
  background: linear-gradient(90deg, rgb(96 176 158) 1%, rgb(113 189 161) 14%, rgb(35 216 176) 100%);
  border: none;
  display: inline-block;
  opacity: 0.5;
  color: #123a37d9;
  text-shadow: -1px 1px 0px #29a48b;
  font-weight: 700;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
  color: #123a37d9;
  text-shadow: -1px 1px 0px #29a48b;
  font-weight: 700;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

.mar {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 765px){
  textarea#property_description {
    height: 150px;
    position: absolute;
    z-index: 1;
  }
  
}
@media (min-width: 425px){
  .d-flex.sm {
    font-size: 0.8em;
  }
}

textarea#features_description {
  height: 150px;
}
.checkmark {
  width: 10px;
}
.feature {
  width: 100px;
  font-size: 11px;
  padding-left: 5px;
}

